/* Creating the popout effect */

.container {
  position: absolute;
  height: 35rem;
  width: 1%;
}
.main-groom {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10; /*cover when not in use, do not alter*/
}
.pop-out {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 35rem;
  width: 200px;
  position: absolute; /* This positions the popout menu behind the viewport*/
  top: 0; /* top and right are the positional effects for absolute*/
  right: 0;
  z-index: 2; /* do not alter. Only works on positioned, and this shows where it is at on the z axis compared to those with lesser z-index*/
  transition: right 0.5s ease; /* transitional effect, slow popout.*/
  border: 10px solid #1ea7fd;
  background: #d9ab8e;
}

.container:hover .pop-out {
  right: -200px; /* This sets the movement once hovered over.*/
}

.anchors {
  height: 35rem;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow-pointer {
  font-weight: 900;
  width: 10px;
  width: 0, auto;
}

a {
  margin: 25%;
}
