.petCard {
    background: white;
    margin: 20px;
    border: 10px solid #1ea7fd;
    border-radius: 10px;
    padding: 40px;
}

.petLink {
    background: white;
    margin: 5px;
    border: 5px solid #1ea7fd;
    border-radius: 10px;
    padding: 5px;
}

h1, h2 {
    color:#1ea7fd;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.myPets {
    font-size: 2rem;
    text-align:center;
}