.avatar{
    width: 30%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    font-size: 4vh;
    align-items: center;
    
}

.customer-header{
    display: flex;
    margin-right: 6%;
    margin-left: 7%;
    margin-top: 5%;
}

.heading{
    font-size: 30px;
}

.customer-info-box {
    display: flex;
    flex-direction: column;
}

.panel {
    /*width: 50%;*/
    margin-right: 30px;
}

.panel-info {
    padding: 0px 30%;
}
.appt-button {
    width: 15%;
    height: 20%;
    font-size: 12px;
    margin-top: 22%;
    margin-left: 5%;
    margin-right: 5%;
}
