.container {
    background-color: white;
    margin-top: 30px;
}

.top-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    
}

.middle-container {
    display: flex;
    justify-content: space-around;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}