.top-info-box {
   display: flex;
   width: 90%;
   margin: 5%;
}
.bottom-info-box {
    display: flex;
    width: 90%;
    margin: 5%;
}
.groomer-public-box {
    display: flex;
    margin: 5%;
    padding-bottom: 5%;
}
.rating {
    margin-left: 10%;
}
.fa-star {
    color: yellow;
    font-size: 30px;
}
.ant-rate {
    font-size: 4vh;
}
