// $primaryColor: #8eb1d9; //primary color
$primaryColor: #8eb1d9;
$secondaryColor: #d9ab8e; // complementary color

.search-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .search-input {
    margin-top: 5%;
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 88%;
    margin: 2%;
  }

  .site-card-border-less-wrapper {
    margin: 5%;
  }

  .map-button {
    margin-top: 20px;
  }
}
